body {
    font-family: "Roboto", sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #232323;
    height: 56px;
    width: 100%;
}

header input[type="image"] {
    height: 20px;
    padding-left: 30px;
    padding-bottom: 10px;
}

header input[type="image"]:hover {
    opacity: 0.5;
}

header img {
    height: 40px;
    margin-top: 10px;
    margin-left: 25px;
}

header button {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #3BA7FF;
    font-size: 14px;
    font-weight: bold;
    position: fixed;
    top: 20px;
    left: 89%;
}

header a:hover, button:hover {
    opacity: 0.5;
}

aside {
    background-color: #1C1C1C;
    position: absolute;
    width: 280px;
    height: 100%;
}

aside ul {
    list-style: none;
    padding: 0;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #333333;
}

aside li {
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    padding: 15px 30px;
    padding-right: 0;
    width: 89%;
}

aside li img{
    vertical-align: top;
    padding-right: 20px;
}

aside li:hover {
    background-color: #333333;
}

section {
    text-align: justify;
    padding-top: 60px;
    padding-left: 380px;
    padding-right: 160px;
}

.active {
    background-color: #333333;
    font-weight: bold;
}
