body {
    font-family: "Roboto", sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #232323;
    height: 56px;
    width: 100%;
}

header input[type="image"] {
    height: 20px;
    padding-left: 30px;
    padding-bottom: 10px;
}

header input[type="image"]:hover {
    opacity: 0.5;
}

header img {
    height: 40px;
    margin-top: 10px;
    margin-left: 25px;
}

header button {
    display: inline;
    float: right;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #3BA7FF;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}

header a:hover,
button:hover {
    opacity: 0.5;
}

header span {
    float: left;
    display: inline;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 38px;
    border-right: 1px solid gray;
}

aside {
    background-color: #1C1C1C;
    position: absolute;
    width: 280px;
    height: 130%;
}

aside ul {
    list-style: none;
    padding: 0;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #333333;
}

aside button {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-align: left;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    width: 100%;
    padding: 15px 30px;
}

aside button img {
    vertical-align: top;
    padding-right: 20px;
}

aside button:hover {
    background-color: #333333;
    cursor: pointer;
}

section {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
    margin-left: 300px;
    margin-bottom: 60px;
}

section a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-right: 40px;
    margin-bottom: 40px;
}

section a:hover {
    opacity: 0.5;
}

section img {
    border: 2px solid transparent;
}

#sesion {
    position: absolute;
    top: 15px;
    left: 68%;
    width: 420px;
}
