body {
    font-family: "Roboto", sans-serif;
    background-image: url("./../img/login_background.jpg");
    background-attachment: fixed;
    background-size: 1920px 1080px;
    background-color: #121212;
    color: #FFFFFF;
    text-align: center;
}

header img {
    height: 200px;
    margin-top: 25px;
}

section {
    background-color: rgba(0, 0, 0, 0.75);
    height: 660px;
    width: 450px;
    margin-top: 25px;
    padding-top: 40px;
    padding-left: 80px;
    text-align: left;
    vertical-align: top;
    display: inline-block;
}

section h3 {
    font-size: 34px;
}

input[type=text],
input[type=password],
button[type=submit] {
    height: 50px;
    width: 325px;
    background-color: #333333;
    color: #A8A8A8;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0px 20px;
    margin-bottom: 15px;
}

button[type=submit] {
    width: 367px;
    background-color: #E50914;
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 30px;
}

button[type=submit]:hover {
    background-color: #800000;
    cursor: pointer;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #A8A8A8;
    margin-top: 100px;
    padding: 10px;
}
